<div *ngIf="editorService.dataBank.length > 0" cdkDropList class="example-list" (cdkDropListDropped)="editorService.drop($event)">
    <mat-list style="width:100%; word-wrap:break-word;" role="list" class="list" *ngFor="let item of editorService.dataBank; let i = index"
        cdkDrag>
        <mat-list-item [matTooltip]="item.body" role="listitem">
            <div mat-line>
                Rank: {{item.rank}}. {{item.title}}
            </div>
            <div mat-line>
                {{item.source}}
            </div>
            <div style="display: flex; flex-direction: row; margin: auto">
                <button mat-flat-button style="margin: 5px; padding: 5px;" color="primary" (click)="edit(i, item)">Update</button>
                <button mat-flat-button style="margin: 5px;" color="warn" (click)="delete(i, item)">Clear Data</button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
